<div class="works-wrap">
    <h2 (click) = 'isVisible = !isVisible'> Участие в командах </h2>
    <ol *ngIf='isVisible'>
        <li>
            <img src="../../assets/images/ted.jpg" alt="The Extinct Dreams">
            <p> The Extinct Dreams (2014 - 2017) </p>
            <p class="genre"> Funeral doom metal </p>
        </li>
        <li>
            <img src="../../assets/images/lkd.jpg" alt="Люди которые Дышат">
            <p> Люди которые Дышат (2018 - настоящее время) </p>
            <p class="genre"> Industrial metal </p>
        </li>
        <li>
            <img src="../../assets/images/in.jpg" alt="Иней">
            <p> Иней (2020 - настоящее время) </p>
            <p class="genre"> Emocore / Experimental </p>
        </li>
    </ol>
</div>
